<!-- views/partials/header.ejs -->

<h1>tinyApp</h1>
<ul style="background-color: #dddddd;">
  <li style="display: inline; padding: 8px;"><a href="/urls">Home</a></li>
  <li style="display: inline; padding: 8px;"><a href="/urls/new">Add</a></li>
  <li style="display: inline; padding: 8px;"><a href="/login">Login</a></li>
  <li style="display: inline; padding: 8px;"><a href="/register">Register</a></li>
</ul>

<div style="display: inline;">
<% if(userlist[user_Id] === undefined){ } else {%>
   <h2>User: <%= userlist[user_Id].email %>
   <form method="POST" action="/logout">
        <button type="submit" class="btn btn-primary">Logout</button>
        </form>
<% }%></div>




