<h1 style="text-align: center">tinyApp</h1>
<ul style="text-align: center">
  <li style="display: inline; padding: 8px;"><a href="/urls">Home</a></li>
  <% if(userlist[user_Id] !== undefined){ } else {%>
  <li style="display: inline; padding: 8px;"><a href="/login">Login</a></li>
  <li style="display: inline; padding: 8px;"><a href="/register">Register</a></li><% }; %>
  <% if(userlist[user_Id] === undefined){ } else {%>
  <li style="display: inline; padding: 8px;"><a href="/urls/new">Add</a></li>
  <li style="display: inline; padding: 8px;"><%= userlist[user_Id].email %></li>
  <li style="display: inline; padding: 8px;">
    <form style="display: in-line;" method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
  </li>
  <% }%>
</ul>





