
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Register</title>
  </head>

  <body>

    <% include partials/_header %>
<% if(userlist[user_Id] !== undefined){ } else {%>
    <h3>User Login</h3></br>
    <form action="/login" method="POST">
        <label for="login">Enter Credentials</label></br>
        <input type="text" name="email" placeholder="email" style="width: 300px; margin: 1em"></br>
        <input type="text" name="pass" placeholder="Password" style="width: 300px; margin: 1em"></br>
        <button type="submit">Submit</button>
    </form>
    <% }; %>
  </body>
</html>