<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>
  </head>

  <body style="font-size:20px; padding:0px;">

    <% include partials/_header %>
<div style="width: 50%; margin: 0px auto;">
    <h2 style="text-align: center;" >Create TinyApp URL</h2>
    <form style="text-align: center; padding-top: 15px;" action="/urls" method="POST">
      <div>
        <label for="longURL">Enter a URL:</label>
        <input type="text" name="longURL" placeholder="http://">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  </body>
</html>